.news {
    padding: 50px 150px;
    font-family: 'Roboto-Thin';

    &__container {
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
        column-gap: 5px;
        justify-content: center;

        &__story {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: #09213A;
            color: white;
            border-radius: 4px;
            padding: 20px;
            width: 210px;
            cursor: pointer;
            transition: box-shadow 0.35s ease-in-out;

            &:hover {
                box-shadow:
                    rgba(0, 0, 0, 0.5) 0px 80px 80px -20px,
                    rgba(0, 0, 0, 0.3) 0px -20px 50px -10px,
                    rgba(0, 0, 0, 0.4) 0px 10px 20px -5px,
                    rgba(0, 0, 0, 0.35) 0px 30px 35px -5px,
                    rgba(0, 0, 0, 0.45) 0px -10px 25px -5px,
                    rgba(0, 0, 0, 0.5) 0px 100px 100px -30px,
                    rgba(0, 0, 0, 0.6) 0px 120px 120px -40px;
            }

            &__text {
                .headline {
                    font-size: 1.1em;
                    margin: 0 0 10px;
                    line-height: 20px;
                    border-bottom-style: solid;
                    border-bottom-width: thin;
                    padding-bottom: 4px;
                    margin-bottom: 11px;
                }

                .summary {
                    font-size: 0.7em;
                    line-height: 14px;
                    margin-bottom: 25px;
                }
            }

            img {
                border-radius: 4px;
            }
        }
    }

}