.footer {
  margin-top: auto;
  font-size: 14px;
  background-color: #09213A !important;
  position: relative;
  padding: 10px 20px;
  display: flex;
  align-items: center;

  @media (max-width: 750px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__text {
    margin: 0 auto;
    text-align: center;
  }

  &__social-links {
    position: absolute;
    right: 50px;
    display: flex;
    gap: 15px;

    @media (max-width: 750px) {
      position: relative;
      right: auto;
      justify-content: center;
      align-items: center;
    }

    &__link {
      color: #ffffff;
      font-size: 1.0rem;
      transition: color 0.45s ease-in-out;

      @media (max-width: 750px) {
        font-size: 0.8rem;
      }

      &:hover {
        color: #07a;
      }
    }
  }
}