.navbar {
    display: flex;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    background-color: white;
    padding-top: 20px !important;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
        rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
        rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

    a {
        display: flex;
        padding: 2px 13px;
        margin: 2px 12px 2px 12px;
        text-decoration: none;
        border-radius: 10px;
        transition: background-color 0.35s ease-in-out;


        &:hover {
            border: 1px solid #E2EBF0;
            margin: 1px 11px 1px 11px;
            background-color: #F0F5F8;
        }

    }

    &__logo {
        display: flex;
        align-items: center;
        margin-left: 10px;
        text-decoration: none;

        @media (max-width: 400px) {
            display: none;
        }

        &__image {
            height: 40px;
            margin: 10px 10px;

            @media (max-width: 1195px) {
                height: 35px;
            }

            @media (max-width: 1155px) {
                height: 30px;
            }

            @media (max-width: 1085px) {
                height: 25px;
            }

            @media (max-width: 1069px) {
                margin-left: -20px;
            }

            @media (max-width: 975px) {
                height: 32px;
            }

            @media (max-width: 955px) {
                margin-left: -40px;
            }

            @media (max-width: 870px) {
                height: 25px;
            }

            @media (max-width: 610px) {
                display: none;
            }


        }

        &__text {
            font-weight: bold;
            font-size: 2.25rem;
            color: #07a;
            margin: 4px 10px 10px -4px;

            @media (max-width: 1195px) {
                font-size: 2.0rem;
            }

            @media (max-width: 1155px) {
                font-size: 1.8rem;
            }

            @media (max-width: 1085px) {
                font-size: 1.6rem;
            }

            @media (max-width: 1066px) {
                margin-right: -20px;
            }

            @media (max-width: 975px) {
                font-size: 1.9rem;
            }

            @media (max-width: 870px) {
                font-size: 1.6rem;
            }

            @media (max-width: 610px) {
                font-size: 1.8rem;
                margin-left: -25px;
            }

            @media (max-width: 505px) {
                font-size: 1.7rem;
                margin-left: -27px;
            }

            @media (max-width: 485px) {
                font-size: 1.4rem;
                margin-left: -34px;
            }

            @media (max-width: 425px) {
                font-size: 1.3rem;
            }

            @media (max-width: 410px) {
                font-size: 1.2rem;
            }
        }
    }

    &__links {
        font-size: 15px;
        margin-right: 60px;
        font-family: 'Roboto-Regular';

        @media (max-width: 1330px) {
            margin-right: 25px;
        }

        @media (max-width: 1275px) {
            margin-right: 20px;
        }

        @media (max-width: 1286px) {
            font-size: 14px;
        }

        @media (max-width: 1253px) {
            font-size: 13px;
        }

        @media (max-width: 1225px) {
            font-size: 12px;
        }

        @media (max-width: 1125px) {
            margin-left: -10px;
        }

        @media (max-width: 1115px) {
            margin-left: -12px;
            margin-right: -5px;
        }

        @media (max-width: 400px) {
            margin: auto;
        }



        .navbar__link {
            background-color: #36B5E133;
            color: #252525;
            border: none;
            border-radius: 5px;
            padding: 5px 27px;
            margin: 6px 6px;
            cursor: pointer;
            transition: background-color 0.45s ease-in-out,
                color 0.45s ease-in-out;


            &:hover {
                background-color: #94c4dc;
            }

            @media (max-width: 1200px) {
                padding: 5px 15px;
            }


            @media (max-width: 880px) {
                padding: 5px 14px;
            }

            @media (max-width: 870px) {
                font-size: 11px;
            }

            @media (max-width: 790px) {
                padding: 5px 10px;
            }

            @media (max-width: 745px) {
                padding: 5px 5px;
            }

            @media (max-width: 685px) {
                font-size: 10px;
            }

            @media (max-width: 660px) {
                font-size: 9px;
                padding: 4px 4px;
                margin: 3px 3px;
            }

            @media (max-width: 465px) {
                font-size: 8px;
                margin: 3px 2px;
            }

            @media (max-width: 425px) {
                margin: 3px 1px;
            }
        }

    }
}