.transactions {
    margin-top: 120px;
    text-align: right;
    position: relative;

    &__header {
        position: absolute;
        text-align: center;
        width: 100%;
        margin-top: -70px;

        &__title {
            font-size: 30px;
            font-family: 'Roboto-Thin';
            color: white;
            z-index: 1;

            @media (max-width: 345px) {
                font-size: 25px;
            }

            @media (max-width: 300px) {
                font-size: 20px;
            }

        }
    }

    &__graph {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-bottom: -35px;
    }

    &__container {
        font-family: 'Roboto-Thin';
        margin: auto;
        width: 85%;
        overflow-x: auto;
        border-radius: 5px;

        @media (min-width: 1440px) {
            max-width: 1400px;
        }

        @media (max-width: 1500px) {
            width: 88%;
        }

        @media (max-width: 1320px) {
            width: 95%;
        }

        &__table {
            background-color: #09213A;
            width: 100%;
            table-layout: auto;
            overflow-x: auto;

            td {
                background-color: #09213A !important;
            }

            &__headers {
                &__count {
                    font-size: 13px !important;
                    width: 71px !important;
                    padding: 7px 5px !important;
                    text-align: center;
                    font-family: 'Roboto-Regular';
                }
            }

            &__headers--bottom {
                text-align: center;
            }

            &__row-values {
                cursor: pointer;
                &__cell--description {
                    font-size: 11px;
                    padding: 1px 10px !important;
                }

                &__cell--date {
                    font-size: 13px;
                    padding: 1px 10px !important;
                }

                &__cell--balances {
                    font-size: 11px;
                    padding: 1px 10px !important;
                }

                &__cell--category {
                    font-size: 12px;
                    padding: 1px 10px !important;
                }

                &__cell--description {
                    font-size: 11px;
                    padding: 1px 10px !important;
                }
            }
        }
    }

    &__pagination-bar {
        justify-content: center;
        font-family: 'Roboto-Regular';
    }
}